{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EntityFile</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Namefile</th>
                <td>{{ entity.nameFile }}</td>
            </tr>
            <tr>
                <th>url</th>
                <td>

                    {#

                    in {{ vich_uploader_asset(entity, 'file') }}
                    "file" is referred to field $file (to the field you put "@Vich\UploadableField(..." to the annotation!

                    if the file is an image:
                    {{ vich_uploader_asset(entity, 'image') }}

                    (for the type look also at $builder->add('file', 'vich_file', array( or $builder->add('file', 'vich_image', array(
                    in EntityType.php)

                    however see: https://github.com/dustin10/VichUploaderBundle/blob/master/Resources/doc/generating_urls.md
                    and

                    #}
                    {{ vich_uploader_asset(entity, 'file') }}




                    </td>
            </tr>


            <tr>
                <th>Shortdescription</th>
                <td>{{ entity.shortDescription }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{{ entity.updateAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ entity.deleted }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{{ entity.deletedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Uploadedfromuser</th>
                <td>{{ entity.uploadedFromUser }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('entityfile') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('entityfile_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
